.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* In a separate CSS file or style tag */
.custom-input {
  width: 500px;
  /* Adjust the width value as needed */
}

.tab {
  color: #333;
  text-decoration: none;
  padding-bottom: 2px;
  /* Added padding to accommodate the underline */
}

.fade-container {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.logo {
  width: 200px;
  /* Adjust the size of the logo as needed */
}

.info {
  margin-top: 20px;
  /* Adjust the spacing between the logo and main content */
}

.tab.active {
  border-bottom: 2px solid #1F6B1D;
  /* Green underline for the active tab */
}

.App-header {
  background-color: #342828;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bg-green-shade {
  background-color: #1F6B1D;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes marquee {
  0% {
    transform: translate(0%, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.marquee {
  animation: marquee infinite 20s linear;
}

.card {
  text-align: left;
}

.align-r {
  text-align: right;
}